<div class="loader" ng-show="showCount === -1">
<img src="/../assets/loading.gif"></img>
Processing your request...!
</div>

<form name="userInput" class="user-input" ng-submit="submitData()"  novalidate>
  <div class="userSubmissionView" ng-show="showCount === 0">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"What is your annual income?"</div>
      $<input class="user-input-field"
              type="number"
              name="income"
              ng-model="data.income" 
              focus-if="showCount === 0"
              ng-keyup="enterNext(userInput.income.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.income.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 1">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"What is your zipcode?"</div>
      <input class="user-input-field"
              type="string" 
              name="zipcode"
              ng-model="data.zipcode"
              focus-if="showCount === 1"
              ng-keyup="enterNext(userInput.zipcode.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.zipcode.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 2">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"What is your gender?"</div>
      <input class="user-input-field"
              type="radio"
              name="gender"
              ng-model="data.gender"
              value = "male"
              required> Male
      <input class="user-input-field"
              type="radio"
              name="gender"
              ng-model="data.gender"
              value = "female"
              required> Female
      <a href=""><div ng-show="userInput.gender.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 3">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"How old are you?"</div>
      <input class="user-input-field"
              type="number"
              name="age"
              ng-model="data.age"
              focus-if="showCount === 3"
              ng-keyup="enterNext(userInput.age.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.age.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 4">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"How much do you pay for rent per month?"</div>
      <input class="user-input-field"
              type="number"
              name="rent"
              ng-model="data.rent"
              focus-if="showCount === 4"
              ng-keyup="enterNext(userInput.rent.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.rent.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 5">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you pay for transportation per week?"</div>
      <input class="user-input-field"
              type="number"
              name="transportation"
              ng-model="data.transportation"
              focus-if="showCount === 5"
              ng-keyup="enterNext(userInput.transportation.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.transportation.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 6">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you spend for eating out per week?"</div>
      <input class="user-input-field"
              type="number"
              name="eatingout"
              ng-model="data.eatingout"
              focus-if="showCount === 6"
              ng-keyup="enterNext(userInput.eatingout.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.eatingout.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 7">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you spend for groceries per week?"</div>
      <input class="user-input-field"
              type="number"
              name="groceries"
              ng-model="data.groceries"
              focus-if="showCount === 7"
              ng-keyup="enterNext(userInput.groceries.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.groceries.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 8">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you spend for clothes per month?"</div>
      <input class="user-input-field"
              type="number"
              name="clothes"
              ng-model="data.clothes"
              focus-if="showCount === 8"
              ng-keyup="enterNext(userInput.clothes.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.clothes.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 9">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you spend for personal hygiene (e.g. haircut, hygiene product, etc) per month?"</div>
      <input class="user-input-field"
              type="number"
              name="hygiene"
              ng-model="data.hygiene"
              focus-if="showCount === 9"
              ng-keyup="enterNext(userInput.hygiene.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.hygiene.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 10">
    <div class="userSubmission-prompt-container">
    <div class="userSubmission-prompt">"On average, how much do you spend for travelling per year?"</div>
      <input class="user-input-field"
              type="number"
              name="travel"
              ng-model="data.travel"
              focus-if="showCount === 10"
              ng-keyup="enterNext(userInput.travel.$valid, $event.keyCode)"
              required>
      <a href=""><div ng-show="userInput.travel.$error.required === false" class="next-button" ng-click="nextPrompt()">
        Next
      </div></a>
      <a href=""><div class="next-button" ng-click="previousPrompt()">
        Back
      </div></a>
      </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 11">
  <div class="userSubmission-prompt-container">
  <div class="userSubmission-prompt">"On average, how much do you spend for entertainment (e.g. alcohol, going out, concerts, etc) per month?"</div>
    <input class="user-input-field"
            type="number"
            name="entertainment"
            ng-model="data.entertainment"
            focus-if="showCount === 11"
            ng-keyup="enterNext(userInput.entertainment.$valid, $event.keyCode)"
            required>
    <a href=""><div ng-show="userInput.entertainment.$error.required === false" class="next-button" ng-click="nextPrompt()">
      Next
    </div></a>
    <a href=""><div class="next-button" ng-click="previousPrompt()">
      Back
    </div></a>
    </div>
  </div>

  <div class="userSubmissionView" ng-show="showCount === 12">
  <div class="userSubmission-prompt-container">
  <div class="userSubmission-prompt">"How much do you pay for gym membership per month?"</div>
    <input class="user-input-field"
            type="number"
            name="gym"
            ng-model="data.gym"
            focus-if="showCount === 12"
            ng-keyup="enterNext(userInput.gym.$valid, $event.keyCode)"
            required>
    <a href=""><div ng-show="userInput.gym.$error.required === false" class="next-button" ng-click="nextPrompt()">
      Next
    </div></a>
    <a href=""><div class="next-button" ng-click="previousPrompt()">
      Back
    </div></a>
    </div>
  </div>

  <!-- <div class="userSubmissionView" ng-show="showCount === 13">
  <div class="userSubmission-prompt-container">
  <div class="userSubmission-prompt">"Finally, what is your username?"</div>
    <input class="user-input-field"
            type="string"
            name="username"
            ng-model="data.username"
            focus-if="showCount === 13"
            ng-keyup="enterNext(userInput.username.$valid, $event.keyCode)"
            required>
    <a href=""><div ng-show="userInput.username.$error.required === false" class="next-button" ng-click="nextPrompt()">

      Next
    </div></a>
    <a href=""><div class="next-button" ng-click="previousPrompt()">
      Back
    </div></a>
    </div>
  </div> -->
  
  <div class="userSubmissionConfirmationView" ng-show="showCount === 13">
  <ol>
    <li ng-click="showCount=13">Username: {{data.username}}</li>
    <li ng-click="showCount=0">Income: {{data.income}}</li>
    <li ng-click="showCount=1">Zipcode: {{data.zipcode}}</li>
    <li ng-click="showCount=2">Gender: {{data.gender}}</li>
    <li ng-click="showCount=3">Age: {{data.age}}</li>
    <li ng-click="showCount=4">Rent: {{data.rent}} per month</li>
    <li ng-click="showCount=5">Transportation: {{data.transportation}} per week</li>
    <li ng-click="showCount=6">Eating Out: {{data.eatingout}} per week</li>
    <li ng-click="showCount=7">Groceries: {{data.groceries}} per week</li>
    <li ng-click="showCount=8">Clothes: {{data.clothes}} per month</li>
    <li ng-click="showCount=9">Hygiene: {{data.hygiene}} per month</li>
    <li ng-click="showCount=10">Travelling: {{data.travel}} per year</li>
    <li ng-click="showCount=11">Entertainment: {{data.entertainment}} per month</li>
    <li ng-click="showCount=12">Gym: {{data.gym}} per month</li>
  </ol>
  <button class="submit-button" type="submit">Confirm</button>
  </div>

</form>
